* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
}

body {
  margin: 0;
  background: var(--bg-system);
  color: var(--text-primary);
  transition: background .4s, color .4s;
}
