.desktop {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-shell {
  width: 1180px;
  height: 760px;
  background: rgba(255,255,255,0.85);
  border-radius: 22px;
  overflow: hidden;

  box-shadow:
    0 40px 120px rgba(0,0,0,.25),
    0 8px 24px rgba(0,0,0,.12);

  backdrop-filter: blur(24px);
}

.app {
  display: flex;
  height: calc(100% - 52px);
}
